@use "sass:color";


$vert:        #23741c;
$vertClair:   #77a16d;
$noir:        #000000;
$blanc:       #ffffff;
$gris:        #636383;
$grisBorder:  #aaaaaa;
$grisSombre:  #5c5c5c;
$bgCard:      rgb(248, 240, 240);
$bgShadow:    #a1a1a1;

$fontMain:    "Bai Jamjuree", sans-serif;
$fontModal:   'Poppins', sans-serif;

$radius:      13px;
$transition:  transform 0.2s ease;